.custom-header {
  background: url("../background.jpg") no-repeat;
  background-position-x: 70%;
  background-size: cover;
  min-height: 500px;
}

.custom-breadcrumb {
  background-color: transparent;
  padding: 8px 0;
}

.task-body .custom-breadcrumb>li+li:before {
  content: ">";
}

.custom-breadcrumb li a,
.custom-breadcrumb li a:hover,
.custom-breadcrumb li.active {
  color: white;
}

.custom-header {
  color: white;
}

.custom-header .container {
  margin-top: -30px;
}

.custom-header h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}

.custom-header .btn {
  border-radius: 0;
  color: black;
  margin-top: 20px;
}

.questions {
  padding: 40px 0;
}

.description {
  padding: 40px 0;
  background-color: white;
}

.description p {
  margin-bottom: 0;
}

.description h2 {
  margin-top: 0;
}

.description .list-group-item {
  border: none;
}

.description .list-group-item:before {
  content:  "\2713 ";
  margin-right: 10px;
  color: green;
}

.description .list-group {
  box-shadow: 0 0 10px 0 gray;
  border-bottom: 3px solid blue;
  padding: 15px;
}

.mobile-margin-bottom {
  margin-bottom: 20px;
}
.questions {
  margin-bottom: 0;
}

.questions .panel {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.questions .panel-heading {
  background-color: #eee;
}

.questions .panel-title a:before {
  content:">";
  display: inline-block;
  margin-right: 5px;
  transition: .3s ease;
}

.questions .panel-title a[aria-expanded='true']:before {
  transform: rotate(90deg);
  transition: .3s ease;
}

.questions .panel-body {
  background-color: #eee;
  padding-left: 30px;
}

.questions .panel-heading a {
  font-weight: bold;
  text-decoration: none;
}

.questions .panel-heading+.panel-collapse>.panel-body {
  border: none;
}

.questions .panel-group {
  margin-left: -15px;
}

@media (min-width: 1200px) {
  .custom-header .container {
    width: 1335px;
  }
}